@model List<TravelTrip.Models.Classes.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:70px;">Tatil & Seyahat Blogum</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılması Gerekenler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araç Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px;height:450px; ">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.ImageUrl" alt=""></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>❤ Tatil & Seyahat Bloguma Hoşgeldiniz ❤</h3>
                    <p>Bu projeyi 2 Mayıs 2023 tarihinde kodlamaya başladım ve 4 Mayıs 2023 tarihinde tamamladım. Projeyi ileriye dönük günler için kendime ait bireysel bir blog haline getirip kullanacağım. Yurtiçi ve Yurtdışı seyahatlerimde sizlere bir nebze de olsa deneyimlerimi aktarmak adına güzel ve eğlenceli paylaşımlarım ile birebir olarak o anı yaşadığınızı hissettireceğim.</p>
                </div>
                @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3", "Default")
                        @Html.Action("Partial4", "Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

