@model List<TravelTrip.Models.Classes.Blog>


<div class="box1-left">
    @foreach (var item in Model)
    {
    <div class="bot-img">
        <img src="@item.ImageUrl" style="width:120px; height:65px;" alt="" />
    </div>
    <div class="bot-desc1">
        <p>@item.Description.Substring(0, 75)... </p>
    </div>
    <div class="clear"></div>

    }
</div>
