@model List<TravelTrip.Models.Classes.Blog>

<div class="con-bot">
    @foreach (var item in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img src="~/web/images/pic.jpg" alt="" />
            </div>
            <div class="left-text">
                <h4>@item.Title</h4>
                <span class="doller">@item.Date.ToString("dd.MM.yyyy")</span>
                <p>@item.Description.Substring(0, 90)</p>
                <p><a href="/Blog/BlogDetail/@item.ID"><span class="read">Devamını Oku</span></a></p>
            </div>
        </div>
    }
    @Html.Action("Partial2", "Default")
    <div class="clear"></div>
</div>
