@using TravelTrip.Models.Classes
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımızda</h3>
                @foreach (var item in Model)
                {
                    <img src="@item.ImageUrl" alt="" />
                    <p>@item.Description</p>
                }


            </div>
        </div>
    </div>

</body>
</html>